body{
    background-color: #C0C0C0;
    background-image: url(zed1.jpg);
}
.logo{
    width: 125px;
    cursor: pointer;
}
.bar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
}
input[type=text] {
    width: 500px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
input[type=password] {
    width: 500px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
label{
    float: left;
    padding-left: 705px;
    color: white;
}
#form{
    text-align: center;
    border: 1px;
}
input[type=submit] {
    background-color:#3366CC;
    color: white;
    padding: 12px 20px;
    border: none;
        border-radius: 4px;
    cursor: pointer;
    position: relative;
    float: right;
    right: 702px;
}
.logo2{
    position: absolute;
    width: 35px;
    cursor: pointer;
    top: 861px;
    left: 1650px;
}
.logo1{
    position: absolute;
    width: 35px;
    cursor: pointer;
    top: 860px;
    left: 1590px;
}
.clock{
    padding: 10px 10px 10px 9px;
    position: absolute;
    top: 90%;
    left: 17%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 55px;
    font-family: monospace;
}